## Q1. Create one variable containing following type of data:

## (i) string

## (ii) list

## (iii) float

## (iv) tuple

In [2]:
a="hello"
a=[10,20,30,40]
a=22.5
a=(1,2,3,4,5,6,7)

## Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.
## What will be the data type of the above given variable.

(i)String

(ii)string

 (iii) list
 
(iv)integer

## Q3. Explain the use of the following operators using an example:
## (i) /

## (ii) %

## (iii) //

## (iv) **

(i)'/' (Division Operator):
The division operator' / 'is used to perform division between two numbers. It returns the quotient (result of division) as a floating-point 
number.

In [6]:
a=int(input("Enter number"))
b=int(input("Enter another number "))
print(a/b)

Enter number 10
Enter another number  5

2.0

(ii) % (Modulo Operator):The modulo operator % returns the remainder of the division between two numbers.

In [9]:
a=10 
b=4
print(a%b)

2

(iii) // (Floor Division Operator):
The floor division operator // returns the quotient (result of division) as an integer, discarding the decimal part (flooring the result)

In [11]:
a=10 
b=3
print(a//b)

3

(iv) ** (Exponentiation Operator):
The exponentiation operator ** is used to raise a number to the power of another number.

In [13]:
a=5
print(a**2)

25

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
li1=[10,"mohit",25.5,(10,2,0,)]
for i in li1:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [15]:
A=int(input("Enter Number "))
B=int(input("Enter number "))
count = 0  # Variable to count the number of divisions
while A % B == 0:
    A = A / B
    count += 1
print("Number A is divisible by number B", count ,"Times")

Enter Number  12
Enter number  3

Number A is divisible by number B 1 Times

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [23]:
a=[x for x in range(1,26)]
for i in  a:
    if(i%3==0):
        print(i," is Divisible By 3")

3  is Divisible By 3
6  is Divisible By 3
9  is Divisible By 3
12  is Divisible By 3
15  is Divisible By 3
18  is Divisible By 3
21  is Divisible By 3
24  is Divisible By 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In programming, mutable and immutable are two fundamental concepts that describe the behavior of data types.
Immutable data types are those whose values cannot be changed once they are created. If you try to modify an immutable object, a new object is created with the updated value. Examples of immutable data types include:
Strings: In Python, strings are immutable. Once a string is created, you cannot change its characters. You can create a new string with the desired modifications. For example:

In [24]:
text = "Hello"
new_text = text + " World" 
print(new_text)

Hello World

mutable data types are those that allow modifications to their values after they are created. Examples of mutable data types include:
Lists: Lists in Python are mutable. You can modify, add, or remove elements from a list without creating a new list. For example

In [25]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]